
.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;    
    -fx-background-insets:3;    
	-fx-border-style: solid;
	-fx-border-color: grey;
	-fx-border-insets: 7;
	-fx-border-width:3;
	
}
#paginaInicio{
	-fx-background-image: url("fondo.jpg");
	-fx-padding: 5 5 5 5;
	-fx-pref-min-height:400;
    -fx-pref-max-height:600;
}
ImageView{
	-fx-opacity:0.8;	
}

.button:hover {
	-fx-background-color: #CDCBAC;
	-fx-text-fill: white;
}
.button{
	-fx-text-fill: black;
    -fx-background-color: #DFB951;
    -fx-border-radius: 20.0;
    -fx-background-radius: 20.0;
    -fx-padding: 5.0;
    -fx-font:italic 12.0pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8.0 , 0.0 , 2.0 , 0.0 );
}
.button:focused {
    -fx-text-fill: green;
}
.check-box:selected{
	-fx-text-fill: #85929E;
	-fx-background-color: #D7E2BD;	
}
.radio-button:selected{
	-fx-underline: true;
}

#FormularioEquipos {
	-fx-background-color: #AADDF3;
	
}

/* Estilos del contenido principal */
.content-section {
    -fx-padding: 10 20 10 20;
    -fx-wrap-text: true;    
    
}

GridPane {
	
	-fx-font-size:12px;    
    -fx-border-width: 1;
    -fx-border-color: #8D9092;
    -fx-padding: 10 20 10 20;
    -fx-background-color:#D7E0E8;  
    -fx-background-insets:3;    
	-fx-border-style: solid;
	-fx-border-color: red;
	-fx-border-insets: 7;
	-fx-border-width:3;      
	 
}
.label {
 -fx-text-fill: #494A4B; 
 -fx-font-weight:bold;
}
#FormularioClientes{
	-fx-background-color: #AADDF3;
	
}

#TutorialUsuario {
	-fx-background-color: #E5D5E5;
	
	
}
#TutorialUsuario .label{
	-fx-text-fill: black;
	-fx-font-weight:normal;	
	
}
 #choiceBoxClientes > .label,#choiceBoxClientes .menu-item:checked .label  {
	-fx-text-fill: red;
	}
	
Hyperlink:hover{
		-fx-text-fill: red;
	}


.tab {	
 -fx-font-size: 16.0px;
 -fx-padding: 3.0 6.0 6.0 6.0;
 -fx-text-fill: #ff0000;
 -fx-font-style: oblique;
}

/*ejes */
.axis {
    -fx-tick-label-fill: black;
    -fx-tick-length: 20.0;
    -fx-minor-tick-length: 10.0;
}

.chart-alternative-column-fill {
    -fx-fill: #99bcfd;
    -fx-stroke: transparent;
    -fx-stroke-width: 0.0;
}


.chart-legend {
 -fx-background-color: #A4C891;
 -fx-padding: 20.0px;
 -fx-border-width: 2.0;
 -fx-border-style: solid;
 -fx-border-color: yellow, green;
 -fx-border-insets: 7.0, 2.0;
}

/*colores de las barras */
.default-color0.chart-bar {
    -fx-background-color: linear-gradient(to top, #B4B4E7, #CF5568, grey);
    -fx-border-color: rgba(0.0,168.0,355.0,0.3) rgba(0.0,168.0,355.0,0.3) 
        transparent rgba(0.0,168.0,355.0,0.3);
    -fx-background-radius: 0.0;
}
.default-color1.chart-bar {
    -fx-background-color: linear-gradient(to top, yellow, pink, green);
    -fx-border-color: rgba(0.0,168.0,355.0,0.3) rgba(0.0,168.0,355.0,0.3) 
        transparent rgba(0.0,168.0,355.0,0.3);
    -fx-background-radius: 0.0;
}

/* Estilos del fondo del área del gráfico */
.chart-plot-background {
    -fx-background-color: #E7F0D2;
}

.chart {
 -fx-padding: 10.0px;
 -fx-background-color: lightblue;
}

/*líneas del gráfico de Estadísticas Generales */
.default-color0.chart-series-line { -fx-stroke: #AB3175; }
.default-color1.chart-series-line { -fx-stroke: #A58D5F; }
/*punto del las líneas */
.default-color0.data2.chart-line-symbol {-fx-background-color:#F05454;
}

